html,
body {
  height: 100%;
  margin: 0px;
  overflow: auto;
  flex-direction: column;
}

/* header styling */
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  border-bottom: 10px solid black;
  border-style: double;
  border-left: 0px;
  border-right: 0px;
}

/* styling for my back button */
#emoji-back {
  display: flex;
  right: 20px;
  font-size: 30px;
  padding: 10px;
  float: right;
}

/* header text styling */
#first-blog {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  font-size: 30px;
  padding-left: 20px;
}

/* styling for my generated blog posts */
.posts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-style: dotted;
  border-radius: 10px;
  border-color: black;
  margin: 10px;
  padding-left: 10px;
}

.blog-title {
  text-decoration: underline;
}

.blog-content {
  font-style: italic;
}

.posted-by {
  font-size: smaller;
}

/* styling for my footer */
footer {
  display: grid;
  place-items: center;
  border-top: 10px solid black;
  border-style: double;
  border-left: 0px;
  border-right: 0px;

  width: 100%;
}

#footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: black;
}
