* {
  background-color: rgb(252, 249, 250);
}

html,
body {
  height: 100%;
  margin: 0px;
  overflow: hidden;
}

section {
  display: flex;
  height: 90%;
}

header {
  position: sticky;
  top: 0px;
  width: 100%;
  height: 10%;
  border-bottom: 10px solid black;
  border-style: double;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
}

#emoji {
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
  padding: 10px;
}

/* Styles for my left aside */
#left-aside {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20vi;
  height: 20vi;
  border-radius: 50%;
  background-image: linear-gradient(rgb(0, 255, 255) 0%,  rgb(29, 78, 213) 100%);
}



#first-blog {
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background-color: transparent;
  font-size: 2vi;
  margin: 0;
}

#divider {
  border-left: 10px solid black;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-style: double;
  height: 90vh;
  overflow: hidden;
}

/* Styles for the right aside */
#right-aside {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: auto;
}

#blog-header {
  padding-bottom: 10px;
  color:  rgb(29, 78, 213);
  font-size: 50px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;

}

form {
  width: 30vw;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  padding-left: 10px;
}


label {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  font-size: 1em;
}

.input-field-1 {
  width: 30vw;
}

.input-field {
  width: 30vw;
  height: 20vh;
}

button {
  width: 30vw;
  margin-top: 15px;
  padding: 10px;
}